{% extends "blog.html" %}

{% block head %}
<title>{{ blog_title }} -- Entries for {{ year }}</title>
<meta name="robots" content="noindex, follow" />
{{ block.super }}
{% endblock %}

{% block subtitle %}
Entries for {{ year }}
{% endblock subtitle %}

{% block content %}
{% for entries, month in entries_months %}
{% if entries %}
<p>
<a href="{{ month|date:"b" }}/">Entries for {{ month|date:"F" }}, {{ year }}</a>
<ul>
    {% for entry in entries %}
    <li><a href="{{ entry.get_absolute_url }}">{{ entry }}</a></li>
    {% endfor %}
</ul>
</p>
{% endif %}
{% endfor %}

<p>
{% if prior_year %}
<a href="../{{ prior_year }}/">&lt;&lt; Entries for {{ prior_year }}</a>
{% endif %}

{% if prior_year and next_year %}
|
{% endif %}

{% if next_year %}
<a href="../{{ next_year }}/">Entries for {{next_year }} &gt;&gt;</a>
{% endif %}
</p>

{% endblock %}
