{% extends "blog.html" %}
{% load blog_helpers %}

{% block head %}
<title>{{ blog_title }} -- Tag: {{ thetag.name }}</title>
<link rel="alternate" type="application/rss+xml"
    title="Tagged with {{ thetag.name }}" href="{{ thetag.get_rss_feed }}" />
{% endblock head %}

{% block subtitle %}
<h2>Entries Tagged With {{ thetag.name }}</h2>
{% endblock subtitle %}

{% block content %}

<h2>Found {{ hits }} entr{{ hits|pluralize:"y,ies" }}, viewing {{ first_on_page }} through {{ last_on_page }}.</h2>
<p>{% if has_previous %}<a href="?page={{ previous }}">previous</a>{% endif %}
{% if has_previous and has_next %} | {% endif %}
{% if has_next %}<a href="?page={{ next }}"> next</a>{% endif %}
</p>

{% for entry in entry_list %}
    {% render_abbv_entry entry %}
{% endfor %}

<p>{% if has_previous %}<a href="?page={{ previous }}">previous</a>{% endif %}
{% if has_previous and has_next %} | {% endif %}
{% if has_next %}<a href="?page={{ next }}"> next</a>{% endif %}
</p>

{% endblock content %}
